[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "shupreti.github.io"]
	path = shupreti.github.io
	url = https://github.com/shupreti/shupreti.github.io.git
	branch = master
